@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$fontHeadings: 'Bangers', cursive;
$fontContent: 'Raleway', sans-serif;
$greenColor: #80ba54;
$headingColor: #2b2b2b;
$strongColor: #1a1a1a;

// Header & skills

.header__title {
    font-family: $fontHeadings;
    font-size: 2.3em;
    color: $greenColor;
    margin-top: 10%;
    margin-left: 3%;
}

.skills__heading, .experience__heading, .information__heading, .education__heading {
    font-family: $fontHeadings;
    color: $greenColor;
    font-size: 1.8em;
    padding-bottom: 3%;
}

.skills__list {
    font-family: $fontContent;
    line-height: 1.9em;
    list-style-type: circle;
    letter-spacing: 1.3px;
}

// Experience 

.experience__heading--webmaster {
    margin-top: 5%;
    font-weight: bold;
    color: $strongColor;
}

.experience {
    font-family: $fontContent;
    line-height: 1.2em;
}

.experience__description {
    padding-top: 3%;
}

// Personal information

.information__heading {
    margin-top: 5%;
}

.information__location, .information__mail, .information__contact {
    font-size: 1.2em;
    font-family: $fontContent;
    line-height: 2.2em;
    margin-left: 5%;
}

// Education 

.education__college, .education__school {
    font-family: $fontContent;
    font-size: 1.2em;
    line-height: 1.3em;
    padding: 2%;
    margin-left: 15%;
}

